/*
 * Name:        style.css
 * Purpose:     Used as supporting css for tutorial application.
 * Author:      Murache
 * Modified by: Bridget Disney (7 December 2017) for IS_LT 7356
 *              Created file
 */body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 auto;
	padding: 20px;
	width: 600px;
	border: 3px solid blue;
}
h2 {
	margin: 0;
	padding-bottom: .3em;
}
p {
	margin: 0;
	padding-bottom: 1em;
}